<div class="main">

  <mat-form-field class="form-field form-name">
    <input matInput
           placeholder="Название"
           type="text"
           class="new-category-input"
           [(ngModel)]="category.name">
  </mat-form-field>

  <mat-form-field class="form-field form-priority">
    <mat-select placeholder="Приоритет" [(ngModel)]="category.priority">
      <mat-option *ngFor="let priority of [1,2,3,4,5]" [value]="priority">
        {{priority}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button
          class="form-field button-color-picker"
          [style.background-color]="category.color"
          [style.color]="text_color"
          (colorPickerChange)="onChangeColor($event)"
          [(colorPicker)]="category.color">
    Цвет категории
  </button>

  <button mat-raised-button
          color="primary"
          ngClass="category.icon"
          [iconPicker]="search_icon"
          (iconPickerSelect)="onIconPickerSelect($event)">
    Иконка
  </button>

  <button mat-raised-button
          class="form-field"
          color="accent"
          (click)="onAddCategory()">
    Добавить
  </button>

  <mat-list role="list">
    <mat-list-item role="listitem"
                   *ngFor="let item of categories"
                   [style.background-color]="item.color">
      <a [routerLink]="['/documents', item.id]"
         routerLinkActive="active"
         class="{{item.icon}}"
         [style.color]="item.invertColor">
        {{item.name}}
      </a>
    </mat-list-item>
  </mat-list>

</div>
