.category-name-div {
  height: 50px;
  padding: 10px;
}

.category-name-div span{
  font-size: 24px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-textarea {
  height: 200px;
}

button {
  margin: 5px;
}
