<div class="main">
  <a routerLink="/categories" routerLinkActive="active">< назад к категориям</a>

  <div class="category-name-div">
    <span>{{categoryName}}</span>
  </div>

  <mat-form-field>
    <input matInput
           placeholder="Название"
           type="text"
           class="new-category-input"
           [(ngModel)]="document.name">
  </mat-form-field>

  <button mat-raised-button
          color="accent"
          (click)="onAddDocument()">
    Добавить
  </button>

  <mat-list role="list">
    <mat-list-item role="listitem"
                   *ngFor="let item of documents">
      <a [routerLink]="['/document', item.id]" routerLinkActive="active">{{item.name}}</a>
    </mat-list-item>
  </mat-list>

</div>
